In [1]:
## Updates to slide 24 & 26
#### Author: Andrew Gray
#### Date: 1/19/2022

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime
from matplotlib.ticker import PercentFormatter
import numpy as np
import math
import seaborn as sns
import os

In [3]:
myworkingdirectory = r"C:\Users\andrew.gray\Desktop\My_TSP\IMARS_Crash_Data" 
os.chdir(myworkingdirectory)

In [4]:
crash_df = pd.read_csv("./crash_data_joined.csv")

C:\Users\andrew.gray\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [5]:
crash_df.head()

,INCID_NO,CASENUM,NUM_OCC,Non-Collision,Collision with Other Motor Vehicle,Collision with Fixed Object,Collision with Pedestrian,Collision with Bicycle,Collision with Parked Motor Vehicle,Collision with Railway Train,...,CRASH_TIME,LATITUDE,LONGITUDE,FATALS,INJURED,Data_Origin,UNIT_NAME,REGION,UNIT_TYPE,_merge
0,ABLI9000000001,0,0.0,0,0,0,0,0,1,0,...,1115.0,0.0,0.0,0.0,0.0,STARS,Abraham Lincoln Birthplace National Historical...,SE,National Historical Park,both
1,ABLI9100000001,0,2.0,0,0,1,0,0,0,0,...,1400.0,0.0,0.0,0.0,0.0,STARS,Abraham Lincoln Birthplace National Historical...,SE,National Historical Park,both
2,ACAD0000000003,0,1.0,0,0,1,0,0,0,0,...,800.0,0.0,0.0,0.0,0.0,STARS,Acadia National Park,NE,National Park,both
3,ACAD0000000014,0,2.0,0,0,1,0,0,0,0,...,1310.0,0.0,0.0,0.0,0.0,STARS,Acadia National Park,NE,National Park,both
4,ACAD0000000026,0,1.0,0,0,1,0,0,0,0,...,1840.0,0.0,0.0,0.0,0.0,STARS,Acadia National Park,NE,National Park,both

In [6]:
crash_df['CRASH_DATE']=pd.to_datetime(crash_df['CRASH_DATE'])
crash_df['day_of_week'] = crash_df['CRASH_DATE'].dt.day_name
crash_df['year'] = crash_df['CRASH_DATE'].dt.year

In [7]:
crash_df.year.value_counts()

1993.0    11772
1997.0    11477
1994.0    11476
1996.0    11428
1995.0    11348
1990.0    11258
1992.0    11158
1991.0    10785
2001.0     9642
2003.0     9532
2005.0     8783
1999.0     7896
2006.0     7874
2000.0     7665
1998.0     7569
2004.0     7265
2002.0     7237
1989.0     6902
2008.0     5358
2010.0     5274
2009.0     5239
2011.0     4987
2007.0     4727
2012.0     4332
2019.0     1976
2013.0     1815
2018.0     1738
2020.0     1676
2014.0     1619
2017.0      901
2016.0      865
2021.0      786
2015.0      578
2030.0        2
2200.0        2
1988.0        2
1931.0        1
1940.0        1
2023.0        1
1930.0        1
1944.0        1
2028.0        1
1920.0        1
2022.0        1
2027.0        1
1967.0        1
1965.0        1
1982.0        1
Name: year, dtype: int64

In [8]:
crash_df = crash_df.loc[crash_df['year']>1989]
crash_df = crash_df.loc[crash_df['year']<2021]

In [9]:
crash_df_IMR = crash_df.loc[crash_df['REGION']=="IM"]

In [10]:
crash_df_IMR.head()

,INCID_NO,CASENUM,NUM_OCC,Non-Collision,Collision with Other Motor Vehicle,Collision with Fixed Object,Collision with Pedestrian,Collision with Bicycle,Collision with Parked Motor Vehicle,Collision with Railway Train,...,LONGITUDE,FATALS,INJURED,Data_Origin,UNIT_NAME,REGION,UNIT_TYPE,_merge,day_of_week,year
793,AMIS0100000030,0,5.0,0,1,0,0,0,0,0,...,0.0,0.0,0.0,STARS,Amistad National Recreation Area,IM,National Recreation Area,both,<bound method PandasDelegate._add_delegate_acc...,2001.0
794,AMIS0100000065,0,1.0,0,0,0,0,0,1,0,...,0.0,0.0,0.0,STARS,Amistad National Recreation Area,IM,National Recreation Area,both,<bound method PandasDelegate._add_delegate_acc...,2001.0
795,AMIS0100000068,0,1.0,0,0,0,0,0,0,0,...,0.0,0.0,1.0,STARS,Amistad National Recreation Area,IM,National Recreation Area,both,<bound method PandasDelegate._add_delegate_acc...,2001.0
796,AMIS0100000071,0,1.0,0,1,0,0,0,0,0,...,0.0,0.0,0.0,STARS,Amistad National Recreation Area,IM,National Recreation Area,both,<bound method PandasDelegate._add_delegate_acc...,2001.0
797,AMIS0100000103,0,1.0,0,1,0,0,0,0,0,...,0.0,0.0,0.0,STARS,Amistad National Recreation Area,IM,National Recreation Area,both,<bound method PandasDelegate._add_delegate_acc...,2001.0

In [11]:
crash_df_IMR.REGION.value_counts()

IM    33601
Name: REGION, dtype: int64

In [12]:
crash_df_IMR.Fatality.value_counts()

0.0    27729
1.0      107
2.0        7
6.0        2
4.0        1
Name: Fatality, dtype: int64

In [13]:
crash_df_IMR_Fatal = crash_df_IMR.loc[crash_df_IMR['FATALS'] > 0.5]

In [14]:
crash_df_IMR_Fatal.head()

,INCID_NO,CASENUM,NUM_OCC,Non-Collision,Collision with Other Motor Vehicle,Collision with Fixed Object,Collision with Pedestrian,Collision with Bicycle,Collision with Parked Motor Vehicle,Collision with Railway Train,...,LONGITUDE,FATALS,INJURED,Data_Origin,UNIT_NAME,REGION,UNIT_TYPE,_merge,day_of_week,year
1142,ARCH9400000222,0,5.0,0,1,0,0,0,0,0,...,0.0,1.0,1.0,STARS,Arches National Park,IM,National Park,both,<bound method PandasDelegate._add_delegate_acc...,1994.0
1667,BIBE0100000518,0,3.0,1,0,0,0,0,0,0,...,0.0,2.0,0.0,STARS,Big Bend National Park,IM,National Park,both,<bound method PandasDelegate._add_delegate_acc...,2001.0
1682,BIBE0200000426,0,1.0,1,0,0,0,0,0,0,...,0.0,1.0,0.0,STARS,Big Bend National Park,IM,National Park,both,<bound method PandasDelegate._add_delegate_acc...,2002.0
1725,BIBE0300001184,0,3.0,0,0,1,0,0,0,0,...,0.0,1.0,2.0,STARS,Big Bend National Park,IM,National Park,both,<bound method PandasDelegate._add_delegate_acc...,2003.0
1752,BIBE0400001190,0,1.0,0,0,0,0,0,0,0,...,0.0,1.0,0.0,STARS,Big Bend National Park,IM,National Park,both,<bound method PandasDelegate._add_delegate_acc...,2004.0

In [15]:
crash_df_IMR_Fatal.Fatality.value_counts()

1.0    107
0.0     12
2.0      7
6.0      2
4.0      1
Name: Fatality, dtype: int64

In [16]:
crash_df_IMR_Fatal.columns

Index(['INCID_NO', 'CASENUM', 'NUM_OCC', 'Non-Collision',
       'Collision with Other Motor Vehicle', 'Collision with Fixed Object',
       'Collision with Pedestrian', 'Collision with Bicycle',
       'Collision with Parked Motor Vehicle', 'Collision with Railway Train',
       'Collision with Animal', 'Collision with Other Object',
       'Collision with Unknown', 'Other Accident Class', 'No Injury',
       'Possible Injury', 'Non-incapacitating Injury', 'Incapacitating Injury',
       'Fatality', 'Unknown Injury', 'PARK_ALPHA', 'STATE', 'CRASH_DATE',
       'CRASH_TIME', 'LATITUDE', 'LONGITUDE', 'FATALS', 'INJURED',
       'Data_Origin', 'UNIT_NAME', 'REGION', 'UNIT_TYPE', '_merge',
       'day_of_week', 'year'],
      dtype='object')

In [17]:
column_sum = crash_df_IMR_Fatal["Collision with Other Motor Vehicle"].sum()
print(column_sum)

39

In [18]:
Crash_types = ['Non-Collision', 'Collision with Other Motor Vehicle', 'Collision with Fixed Object',
       'Collision with Pedestrian', 'Collision with Bicycle',
       'Collision with Parked Motor Vehicle', 'Collision with Railway Train',
       'Collision with Animal', 'Collision with Other Object',
       'Collision with Unknown', 'Other Accident Class']

second=[]

for type in Crash_types:
    m = crash_df_IMR_Fatal[type].sum()
    second.append(m)
    
print(second)


df_fatal = pd.DataFrame(list(zip(Crash_types,second)),
               columns =['Crash Classification', 'Number of Crashes'])

df_fatal.head(15)

[31, 39, 47, 4, 0, 1, 1, 4, 14, 4, 0]

                   Crash Classification  Number of Crashes
0                         Non-Collision                 31
1    Collision with Other Motor Vehicle                 39
2           Collision with Fixed Object                 47
3             Collision with Pedestrian                  4
4                Collision with Bicycle                  0
5   Collision with Parked Motor Vehicle                  1
6          Collision with Railway Train                  1
7                 Collision with Animal                  4
8           Collision with Other Object                 14
9                Collision with Unknown                  4
10                 Other Accident Class                  0

In [19]:
df_fatal['% of Crashes'] = round((df_fatal["Number of Crashes"] / df_fatal["Number of Crashes"].sum())*100,1)
df_fatal['% of Crashes'] = df_fatal['% of Crashes'].astype(str)+'%'

In [20]:
df_fatal.sort_values(by='Number of Crashes', ascending=False)

                   Crash Classification  Number of Crashes % of Crashes
2           Collision with Fixed Object                 47        32.4%
1    Collision with Other Motor Vehicle                 39        26.9%
0                         Non-Collision                 31        21.4%
8           Collision with Other Object                 14         9.7%
3             Collision with Pedestrian                  4         2.8%
7                 Collision with Animal                  4         2.8%
9                Collision with Unknown                  4         2.8%
5   Collision with Parked Motor Vehicle                  1         0.7%
6          Collision with Railway Train                  1         0.7%
4                Collision with Bicycle                  0         0.0%
10                 Other Accident Class                  0         0.0%

In [21]:
## Above Table is Fatal Crashes in IMR

In [22]:
crash_df_IMR.columns

Index(['INCID_NO', 'CASENUM', 'NUM_OCC', 'Non-Collision',
       'Collision with Other Motor Vehicle', 'Collision with Fixed Object',
       'Collision with Pedestrian', 'Collision with Bicycle',
       'Collision with Parked Motor Vehicle', 'Collision with Railway Train',
       'Collision with Animal', 'Collision with Other Object',
       'Collision with Unknown', 'Other Accident Class', 'No Injury',
       'Possible Injury', 'Non-incapacitating Injury', 'Incapacitating Injury',
       'Fatality', 'Unknown Injury', 'PARK_ALPHA', 'STATE', 'CRASH_DATE',
       'CRASH_TIME', 'LATITUDE', 'LONGITUDE', 'FATALS', 'INJURED',
       'Data_Origin', 'UNIT_NAME', 'REGION', 'UNIT_TYPE', '_merge',
       'day_of_week', 'year'],
      dtype='object')

In [23]:
crash_df_IMR_Injury = crash_df_IMR.loc[crash_df_IMR['INJURED'] > 0.5]

In [24]:
crash_df_IMR_Injury.INJURED.value_counts()

1.0     3078
2.0      867
3.0      223
4.0      112
5.0       48
6.0       21
7.0        9
9.0        4
17.0       1
11.0       1
10.0       1
8.0        1
14.0       1
Name: INJURED, dtype: int64

In [25]:
Crash_types = ['Non-Collision', 'Collision with Other Motor Vehicle', 'Collision with Fixed Object',
       'Collision with Pedestrian', 'Collision with Bicycle',
       'Collision with Parked Motor Vehicle', 'Collision with Railway Train',
       'Collision with Animal', 'Collision with Other Object',
       'Collision with Unknown', 'Other Accident Class']

second=[]

for type in Crash_types:
    m = crash_df_IMR_Injury[type].sum()
    second.append(m)
    
print(second)


df_IMR_Inj = pd.DataFrame(list(zip(Crash_types,second)),
               columns =['Crash Classification', 'Number of Crashes'])

df_IMR_Inj.head(15)

[1161, 1167, 1257, 111, 63, 60, 0, 235, 214, 56, 42]

                   Crash Classification  Number of Crashes
0                         Non-Collision               1161
1    Collision with Other Motor Vehicle               1167
2           Collision with Fixed Object               1257
3             Collision with Pedestrian                111
4                Collision with Bicycle                 63
5   Collision with Parked Motor Vehicle                 60
6          Collision with Railway Train                  0
7                 Collision with Animal                235
8           Collision with Other Object                214
9                Collision with Unknown                 56
10                 Other Accident Class                 42

In [26]:
df_IMR_Inj['% of Crashes'] = round((df_IMR_Inj["Number of Crashes"] / df_IMR_Inj["Number of Crashes"].sum())*100,1)
df_IMR_Inj['% of Crashes'] = df_IMR_Inj['% of Crashes'].astype(str)+'%'

In [27]:
df_IMR_Inj.sort_values(by='Number of Crashes', ascending=False)

                   Crash Classification  Number of Crashes % of Crashes
2           Collision with Fixed Object               1257        28.8%
1    Collision with Other Motor Vehicle               1167        26.7%
0                         Non-Collision               1161        26.6%
7                 Collision with Animal                235         5.4%
8           Collision with Other Object                214         4.9%
3             Collision with Pedestrian                111         2.5%
4                Collision with Bicycle                 63         1.4%
5   Collision with Parked Motor Vehicle                 60         1.4%
9                Collision with Unknown                 56         1.3%
10                 Other Accident Class                 42         1.0%
6          Collision with Railway Train                  0         0.0%

In [28]:
## Above Table is Injury Crashes in IMR

In [29]:
crash_df_National_Fatal = crash_df.loc[crash_df['FATALS'] > 0.5]

In [30]:
Crash_types = ['Non-Collision', 'Collision with Other Motor Vehicle', 'Collision with Fixed Object',
       'Collision with Pedestrian', 'Collision with Bicycle',
       'Collision with Parked Motor Vehicle', 'Collision with Railway Train',
       'Collision with Animal', 'Collision with Other Object',
       'Collision with Unknown', 'Other Accident Class']

second=[]

for type in Crash_types:
    m = crash_df_National_Fatal[type].sum()
    second.append(m)
    
print(second)


crash_df_Nat_Fatal = pd.DataFrame(list(zip(Crash_types,second)),
               columns =['Crash Classification', 'Number of Crashes'])

crash_df_Nat_Fatal.head(15)

[129, 279, 484, 33, 6, 5, 1, 20, 41, 26, 15]

                   Crash Classification  Number of Crashes
0                         Non-Collision                129
1    Collision with Other Motor Vehicle                279
2           Collision with Fixed Object                484
3             Collision with Pedestrian                 33
4                Collision with Bicycle                  6
5   Collision with Parked Motor Vehicle                  5
6          Collision with Railway Train                  1
7                 Collision with Animal                 20
8           Collision with Other Object                 41
9                Collision with Unknown                 26
10                 Other Accident Class                 15

In [31]:
crash_df_Nat_Fatal['% of Crashes'] = round((crash_df_Nat_Fatal["Number of Crashes"] / crash_df_Nat_Fatal["Number of Crashes"].sum())*100,1)
crash_df_Nat_Fatal['% of Crashes'] = crash_df_Nat_Fatal['% of Crashes'].astype(str)+'%'

In [32]:
crash_df_Nat_Fatal.sort_values(by='Number of Crashes', ascending=False)

                   Crash Classification  Number of Crashes % of Crashes
2           Collision with Fixed Object                484        46.6%
1    Collision with Other Motor Vehicle                279        26.9%
0                         Non-Collision                129        12.4%
8           Collision with Other Object                 41         3.9%
3             Collision with Pedestrian                 33         3.2%
9                Collision with Unknown                 26         2.5%
7                 Collision with Animal                 20         1.9%
10                 Other Accident Class                 15         1.4%
4                Collision with Bicycle                  6         0.6%
5   Collision with Parked Motor Vehicle                  5         0.5%
6          Collision with Railway Train                  1         0.1%

In [33]:
## Above Table is Fatal Crashes Nationwide

In [34]:
crash_df_National_Injury = crash_df.loc[crash_df['INJURED'] > 0.5]

In [35]:
Crash_types = ['Non-Collision', 'Collision with Other Motor Vehicle', 'Collision with Fixed Object',
       'Collision with Pedestrian', 'Collision with Bicycle',
       'Collision with Parked Motor Vehicle', 'Collision with Railway Train',
       'Collision with Animal', 'Collision with Other Object',
       'Collision with Unknown', 'Other Accident Class']

second=[]

for type in Crash_types:
    m = crash_df_National_Injury[type].sum()
    second.append(m)
    
print(second)


crash_df_Nat_Inj = pd.DataFrame(list(zip(Crash_types,second)),
               columns =['Crash Classification', 'Number of Crashes'])

crash_df_Nat_Inj.head(15)

[4392, 15143, 10590, 644, 689, 216, 8, 1233, 949, 327, 332]

                   Crash Classification  Number of Crashes
0                         Non-Collision               4392
1    Collision with Other Motor Vehicle              15143
2           Collision with Fixed Object              10590
3             Collision with Pedestrian                644
4                Collision with Bicycle                689
5   Collision with Parked Motor Vehicle                216
6          Collision with Railway Train                  8
7                 Collision with Animal               1233
8           Collision with Other Object                949
9                Collision with Unknown                327
10                 Other Accident Class                332

In [36]:
crash_df_Nat_Inj['% of Crashes'] = round((crash_df_Nat_Inj["Number of Crashes"] / crash_df_Nat_Inj["Number of Crashes"].sum())*100,1)
crash_df_Nat_Inj['% of Crashes'] = crash_df_Nat_Inj['% of Crashes'].astype(str)+'%'

In [37]:
crash_df_Nat_Inj.sort_values(by='Number of Crashes', ascending=False)

                   Crash Classification  Number of Crashes % of Crashes
1    Collision with Other Motor Vehicle              15143        43.9%
2           Collision with Fixed Object              10590        30.7%
0                         Non-Collision               4392        12.7%
7                 Collision with Animal               1233         3.6%
8           Collision with Other Object                949         2.7%
4                Collision with Bicycle                689         2.0%
3             Collision with Pedestrian                644         1.9%
10                 Other Accident Class                332         1.0%
9                Collision with Unknown                327         0.9%
5   Collision with Parked Motor Vehicle                216         0.6%
6          Collision with Railway Train                  8         0.0%

In [38]:
## Above Table is Injury Crashes Nationwide

In [39]:
pd.set_option('display.max_columns', None)

crash_df.groupby(['Data_Origin']).count()

,INCID_NO,CASENUM,NUM_OCC,Non-Collision,Collision with Other Motor Vehicle,Collision with Fixed Object,Collision with Pedestrian,Collision with Bicycle,Collision with Parked Motor Vehicle,Collision with Railway Train,Collision with Animal,Collision with Other Object,Collision with Unknown,Other Accident Class,No Injury,Possible Injury,Non-incapacitating Injury,Incapacitating Injury,Fatality,Unknown Injury,PARK_ALPHA,STATE,CRASH_DATE,CRASH_TIME,LATITUDE,LONGITUDE,FATALS,INJURED,UNIT_NAME,REGION,UNIT_TYPE,_merge,day_of_week,year
Data_Origin,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
CDS,83914,83809,26733,83914,83914,83914,83914,83914,83914,83914,83914,83914,83914,83914,26733,26733,26733,26733,26733,26733,83914,80302,83914,83914,34463,37116,83685,83685,50629,50629,50629,83914,83914,83914
IMARS,7125,7125,7125,7125,7125,7125,7125,7125,7125,7125,7125,7125,7125,7125,7125,7125,7125,7125,7125,7125,6561,0,7125,7125,4742,4741,7125,7125,6454,6454,6452,7125,7125,7125
STARS,114211,114211,112851,114211,114211,114211,114211,114211,114211,114211,114211,114211,114211,114211,114211,114211,114211,114211,114211,114211,114211,113870,114211,114201,114211,114211,114211,114211,80815,80815,80815,114211,114211,114211

In [40]:
pd.set_option('display.max_columns', None)

crash_df.groupby(['Data_Origin']).nunique()

,INCID_NO,CASENUM,NUM_OCC,Non-Collision,Collision with Other Motor Vehicle,Collision with Fixed Object,Collision with Pedestrian,Collision with Bicycle,Collision with Parked Motor Vehicle,Collision with Railway Train,Collision with Animal,Collision with Other Object,Collision with Unknown,Other Accident Class,No Injury,Possible Injury,Non-incapacitating Injury,Incapacitating Injury,Fatality,Unknown Injury,PARK_ALPHA,STATE,CRASH_DATE,CRASH_TIME,LATITUDE,LONGITUDE,FATALS,INJURED,UNIT_NAME,REGION,UNIT_TYPE,_merge,day_of_week,year
Data_Origin,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
CDS,83905,77203,15,2,2,2,2,2,2,2,2,2,2,2,15,11,11,7,5,6,130,45,9316,1469,14996,16878,6,14,124,8,22,2,1,29
IMARS,7041,1,21,2,2,2,2,2,2,2,2,2,2,2,20,10,9,7,4,11,145,0,1610,1233,4130,4136,4,14,147,8,24,2,1,8
STARS,113861,2,107,2,2,2,2,2,2,2,2,2,2,2,24,13,13,8,6,10,223,45,6369,1487,1,1,6,17,211,8,22,2,1,18

In [48]:
crash_df_IMR_Injury.PARK_ALPHA.value_counts()

YELL    1464
ROMO     523
GRTE     450
SAGU     386
GRCA     345
BIBE     216
GLAC     144
ZION     140
MEVE      98
CHIC      82
COLM      76
GLCA      65
LAMR      63
PAIS      55
BRCA      49
ARCH      38
GRSA      26
ORPI      24
PEFO      17
CANY      14
AMIS      12
WHSA       8
BAND       6
MOCA       6
FLFO       6
BICA       5
JODR       4
BLCA       4
PECO       4
CARE       4
CURE       4
TICA       4
BITH       4
TUZI       3
CORO       3
CHIR       2
DINO       2
CEBR       2
PETR       2
DETO       2
NABR       1
WUPA       1
CAGR       1
FOBU       1
CACH       1
Name: PARK_ALPHA, dtype: int64